* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243 ,243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-contanier {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
}

.phone img {
    height: 50rem;
}

.instagram-acesso {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.grupo:nth-child(1) {
    min-height: rem;
}

.instagram-logo {
    height: 3rem;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
}

.foto-perfil img {
    height: 7rem;
}

.login {
    background-color: #0062f6;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 1rem;
}

.logout {
    color: #0062f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb (160 ,160, 160);
}

.link-blue {
    color:#0062f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10.2rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/apple-button.png')
}

.app-download:nth-child(2) {
    background-image: url('../img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1024px) {

    body {
        background-color: #ffffff;
    }

    .instagram-contanier {
        width: 90%;
    }

    .phone {
        display: none;
    }

    .grupo {
        border: 1px solid transparent;        
    }

    .instagram-acesso {
        width: 100%;
    }

    .foto-perfil img {
        height: 180px;
    }
}